*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* color: white; */
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    /* background-color: black; */
    overflow-x: hidden;
}


#page1{
    height: 100%;
    width: 100%;
    background-color: black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(86, 167, 194);
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px; */
}

#page3{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 5vw 0;
     /* display: flex;
    justify-content: center;
    align-items: center; */
}

#box{
    width: 300px;
    height: 300px;
    background-color: crimson;
}

#page2 h1{
    font-size: 40vw;
    text-transform: uppercase;
    font-weight: 600;
    /* padding: 10px;
    font-size: 60px;
    position: relative;
    background-color: red; */
}
h2{
    padding: 10px;
    font-size: 60px;
    position: relative;
    background-color: yellow;
   
}
